.footer {
	background: url('../img/bg-footer.png') 0 0 / 100% 100% no-repeat;
	height: 100%;
	&__container {
	}
	&__block {
	}
	&__row {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue ("padding-top", 118, 57, 0);
	}
	&__logo {
		flex: 0 1 19.3%;
		font-family: 'Cardo';
		align-items: flex-start;
		@include adaptiveValue ("font-size", 63, 25, 0);
		line-height: 63px;
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #232323;
	}
	&__quick-links {
		flex: 0 1 70.7%;
	}
	&__rights {
		text-align: center;
		color: #232323;
		@include adaptiveValue ("font-size", 21, 14, 0);
		@include adaptiveValue ("padding-top", 128, 40, 0);
		@include adaptiveValue ("padding-bottom", 118, 40, 0);
		line-height: 50px;
		font-weight: 400;
		letter-spacing: -0.025em;
	}
}

.quick-links {
	&__title {
		@include adaptiveValue ("font-size", 25, 18, 0);
		line-height: 50px;
		font-weight: 900;
		letter-spacing: -0.025em;
		color: #232323;
	}
	&__table {
		@include adaptiveValue ("margin-top", 30, 5, 0);
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		align-content: space-between;
		@include adaptiveValue ("gap", 35, 15, 0);
		width: 100%;
	}
	&__column {
	}
	&__link {
		@include adaptiveValue ("font-size", 21, 14, 0);
		letter-spacing: -0.025em;
		color: #232323;
	}
}
.quick-links__link:hover {
		font-weight: 700;
}

//Адаптив
@media (max-width: 650px) {
	.footer {
		background: #c4c4c4;
	}
	.quick-links__table {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 500px) {
	.quick-links {
		&__table {
			grid-template-columns: 1fr 1fr;
		}
	}
	.footer {
		&__row {
			display: block;
		}
		&__logo {
			display: none;
		}
	}
}
