//ШАПКА
.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e9e7e7;
	&__container {
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue ("padding-top", 78, 10, 0);
		@include adaptiveValue ("padding-bottom", 106, 20, 0);
	}
	&__contact {
	}
	&__menu {
	}
	&__button {
		display: flex;
		border: 3px solid #232323;
		border-radius: 7px;
		@include adaptiveValue ("padding-top", 15, 7, 0);
		@include adaptiveValue ("padding-right", 55, 15, 0);
		@include adaptiveValue ("padding-bottom", 15, 7, 0);
		@include adaptiveValue ("padding-left", 55, 15, 0);
		justify-content: center;
		align-items: center;
		@include adaptiveValue ("font-size", 21, 14, 0);
		line-height: 1.2;
		letter-spacing: -0.025em;
		color: #232323;
		cursor: pointer;
		font-weight: 900;
	}
}
.menu {
	&__body {
	}
	&__list {
		display: flex;
		justify-content: space-between;
		li {
			margin-right: 80px;
		}
	}
	&__link {
		line-height: 1.2;
		letter-spacing: -0.025em;
		color: #515155;
		font-weight: 300;
		@include adaptiveValue ("font-size", 20, 14, 0);
	}
}
.menu__link:hover {
	font-weight: 900;
	color: #232323;
}
.header__button:hover {
	box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}
.header__button:active {
	color: #fff;
	background-color: #232323;
}

//menu-burger
.icon-menu {
	display: none;
}

//menu-burger
@media (max-width:650px) {
	.icon-menu {
			display: block;
			position: absolute;
			top: 30%;
			right: 5%;
			width: 35px;
			height: 20px;
			cursor: pointer;
			z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.icon-menu::before,
	.icon-menu::after {
		content:"";
	}
	.icon-menu::before{
		top: 0;
	}
	.icon-menu::after{
		bottom: 0;
	}
	.icon-menu span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.icon-menu._active span{
			transform: scale(0) translate(0px, -50%);
	}
	.icon-menu._active::before{
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
	}
	.icon-menu._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #fff;
		padding: 100px 0 20px 0;
		transition: all 0.3s ease 0s;
		z-index: 4;
		::before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 60px;
			background-color: #232323;
			z-index: 3;
		}
	}
	.menu__body._active{
					left: 0;
	}
	.menu__list{
		display: flex;
		flex-direction: column;
		align-items: center;
		li{
			margin: 0 0 0 0;
			padding: 0 0 70px 0;
		}
	}
	.menu__link{
		color: #232323;
		font-size: 22px;
		font-weight: 700;
		&:after {
			background-color: #000;
		}
		&:active {
			color: #000;
		}
	}
	.header {
		position: fixed;
		z-index: 3;
		&__row {
			align-items: center;
			padding-top: 10px;
			padding-bottom: 10px;
			justify-content: flex-start;
		}
		&__contact {
			z-index: 10;
			justify-content: flex-start;
			order: 1;
		}
		&__button {
			position: relative;
			border: 3px solid #fff;
			color: #fff;
			font-weight: 400;
		}
	}
}















