@import "mixins.scss";
//ШРИФТЫ
@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Cardo:regular,700);


//@import "fonts";

//ШРИФТ ПО УМОЛЧАНИЮ
$fontfamily: "Lato";

//ПЕРЕМЕННЫЕ
$minwidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1215;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


//ОБНУЛЕНИЕ
@import "null.scss";

body {
	font-display: swap;
}
body._lock {
	overflow: hidden;
}

//ОБОЛОЧКА
.wrapper {
	overflow: hidden;
	min-height: 100%; //чтобы wrapper был на всю высоту
	background-color: #e9e7e7;
	
}

//ОСНОВНАЯ СЕТКА

//упрощенное
._container {
	max-width: 1230px;
	padding: 0 15px; //задаем отступы по 15px чтобы контейнер не ударялся о края странички
	margin: 0px auto; //центровка контейнера
}

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
@import "swiper.scss";
@import "slick-slider.scss";

//==================================================================
//ОСНОВНОЙ БЛОК
.page {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mainscreen {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/bg1.png') 0 0/cover no-repeat;
	&__container {
		display:flex;
		justify-content: space-between;
		@include adaptiveValue ("padding-bottom", 159, 39, 0);
	}
	&__info {
		flex: 0 1 36.7%;
	}
	&__image {
		flex: 0 1 55.2%;
		height: 419px;
		width: 662px;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
.info {
	&__title {
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 81, 24, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #232323;
		@include adaptiveValue ("margin-bottom", 20, 14, 0);
	}
	&__text {
		@include adaptiveValue ("font-size", 17, 14, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #232323;
		@include adaptiveValue ("margin-bottom", 34, 24, 0);
	}
	&__button {
	}
}
.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue ("padding-top", 18, 10, 0);
	@include adaptiveValue ("padding-bottom", 18, 10, 0);
	@include adaptiveValue ("padding-right", 57, 27, 0);
	@include adaptiveValue ("padding-left", 57, 27, 0);
	background-color: #1e1e1e;
	border-radius: 5px;
	@include adaptiveValue ("font-size", 21, 16, 0);
	line-height: 1.2;
	@include adaptiveValue ("font-weight", 700, 400, 0);
	letter-spacing: -0.025em;
	color: #e9e7e7;
	font-weight: 700;
}

.info__button:hover {
	box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}
//==================================================================
//My Travel Logs (2)
.travelog {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/bg2.png') 0 0/100% 100% no-repeat;
	&__container {
	}
}
.travelog-block {
	text-align: center;
	@include adaptiveValue ("width", 445, 200, 0);
	margin: 0 auto;
	@include adaptiveValue ("padding-top", 52, 22, 0);
	@include adaptiveValue ("padding-bottom", 52, 22, 0);
	&__title {
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 55, 20, 0);
		@include adaptiveValue ("line-height", 55, 20, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #e9e7e7;
	}
	&__text {
		@include adaptiveValue ("margin-top", 33, 13, 0);
		@include adaptiveValue ("margin-bottom", 38, 18, 0);
		@include adaptiveValue ("font-size", 17, 14, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #e9e7e7;
	}
}
.travelog-block {
	&__button {
		border: solid #e9e7e7;
	}
}
.travelog-block__button:hover {
	box-shadow: 7px 5px 5px rgba(255, 255, 255, 0.3);
}
//==================================================================
//Cards (3)
.options {
	height: 100%;
	background: url('../img/bg3.png') 0 0/100% 100% no-repeat;
	&__container {
	}
}
.options-block {
	display: flex;
	justify-content: space-between;
	@include adaptiveValue ("padding-top", 168, 20, 0);
	@include adaptiveValue ("padding-bottom", 168, 66, 0);
	&__card {
		flex-basis: 30.25%;
		margin-bottom: 5px;
	}
}
.card {
	&__image {
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__title {
		margin-right: 27%;
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 36, 16, 0);
		@include adaptiveValue ("line-height", 36, 23, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #232323;
	}
	&__text {
		@include adaptiveValue ("margin-top", 36, 16, 0);
		@include adaptiveValue ("font-size", 17, 12, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #232323;
		text-align: justify;
	}
}
.card__image:after {
	content: '';
	display: block;
	@include adaptiveValue ("margin-bottom", 28, 8, 0);
	@include adaptiveValue ("margin-top", 31, 11, 0);
	width: 52px;
	@include adaptiveValue ("height", 3, 1, 0);
	background-color: #232323;
}
//==================================================================
//Moto (4)
.moto {
	height: 100%;
	background: url('../img/bg4.png') 0 0/100% 100% no-repeat;
	&__container {
	}
}
.moto-block {
	text-align: center;
	@include adaptiveValue ("width", 775, 225, 0);
	margin: 0 auto;
	@include adaptiveValue ("padding-top", 190, 10, 0);
	@include adaptiveValue ("padding-bottom", 270, 80, 0);
	&__logo {
		@include adaptiveValue ("width", 73, 38, 0);
		margin: 0 auto;
		img {
			max-width: 100%;
			@include adaptiveValue ("width", 73, 38, 0);
		}
	}
	&__title {
		display: inline-block;
		@include adaptiveValue ("margin-top", 60, 20, 0);
		@include adaptiveValue ("margin-bottom", 62, 22, 0);
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 98, 30, 0);
		@include adaptiveValue ("line-height", 97, 30, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #000;
		span {
			font-style: italic;
			text-decoration: underline;
			@include adaptiveValue ("text-decoration-thickness", 5, 2, 0);
		}
	}
	&__text {
		@include adaptiveValue ("font-size", 25, 14, 0);
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: -0.025em;
		color: #232323;
		@include adaptiveValue ("padding-bottom", 50, 20, 0);
	}
}
//==================================================================
//Choose (5)

.choose {
	height: 100%;
	background: url('../img/bg5.png') 0 0/100% 100% no-repeat;
}
.choose-block {
	@include adaptiveValue ("padding-top", 155, 55, 0);
	@include adaptiveValue ("padding-bottom", 155, 55, 0);
	&__container {
		display: flex;
	}
	&__content {
		@include adaptiveValue ("width", 450, 50, 0);
	}
	&__title {
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 55, 25, 0);
		@include adaptiveValue ("line-height", 55, 25, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #e9e7e7;
		@include adaptiveValue ("margin-bottom", 94, -70, 0);
	}
	&__paragraph {
		@include adaptiveValue ("margin-bottom", 54, 10, 0);
	}
	&__subtitle {
		display: inline-block;
		@include adaptiveValue ("font-size", 25, 18, 0);
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: -0.025em;
		color: #e9e7e7;
		@include adaptiveValue ("margin-bottom", 20, 10, 0);
	}
	&__text {
		@include adaptiveValue ("font-size", 17, 14, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #e9e7e7;
	}
	&__image {	
		@include adaptiveValue ("width", 757, 457, 0);
		@include adaptiveValue ("height", 562, 262, 0);
		position: absolute;
		right: 0;
		img {
			min-width: 100%;
			object-fit: cover;
		}
	}
}
.paragraph2 {
	margin-bottom: 0;
}
//==================================================================
//Description (6)
.description {
	height: 100%;
	&__container {
	}
}
.description-block {
	display: flex;
	justify-content: space-between;
	@include adaptiveValue ("margin-bottom", 176, 36, 0);
	@include adaptiveValue ("margin-top", 263, 100, 0);
	&__spoiler {
		flex: 0 1 61%;
		margin-right: 15px;
	}
	&__title {
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 82, 36, 0);
		@include adaptiveValue ("line-height", 81, 35, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #232323;
		display: inline-block;
		@include adaptiveValue ("margin-bottom", 85, 35, 0);
	}
	&__item {
	}
	&__text {
		position: relative;
		@include adaptiveValue ("font-size", 16, 14, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #232323;
		@include adaptiveValue ("padding-left", 40, 10, 0);
		@include adaptiveValue ("padding-right", 150, 50, 0);
		@include adaptiveValue ("padding-top", 20, 5, 0);
		@include adaptiveValue ("padding-bottom", 20, 5, 0);
		display: flex;
		align-items: center;
		border-bottom: 3px solid #232323;
	}
	&__dropdown {
		display: none;
		@include adaptiveValue ("font-size", 16, 14, 0);
		line-height: 1.2;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #232323;
		padding: 10px 5px;
		border-bottom: 3px solid #232323;
	}
	&__image {
		flex: 0 1 32%;
		height: 516px;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
.description-block__text:before,
.description-block__text:after {
	content: '';
	@include adaptiveValue ("width", 19, 10, 0);
	@include adaptiveValue ("height", 3, 1, 0);
	background-color: #000;
	position: absolute;
	left: 90%;
}
.description-block__text:before {
	transform: rotate(90deg);
}
.description-block__text.active:before {
	transform: rotate(135deg);
}
.description-block__text.active:after {
	transform: rotate(45deg);
}
.above {
	border-top: 3px solid #232323;
}
//==================================================================
//Update (7)

.update {
	@include adaptiveValue ("margin-top", 115, 35, 0);
	@include adaptiveValue ("margin-bottom", 214, 10, 0);
	height: 100%;
	&__container {
	}
}
.update-block {
display: flex;
justify-content: space-between;
	&__input {
		flex: 0 1 38%;
	}
	&__image {
		flex: 0 1 55%;
		width: 666px;
		height: 730px;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__title {
		font-family: 'Cardo';
		@include adaptiveValue ("font-size", 81, 26, 0);
		@include adaptiveValue ("line-height", 81, 26, 0);
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #232323;
		@include adaptiveValue ("margin-bottom", 36, 15, 0);
	}
}
.input-block {
	margin-right: 10px;
	&__info {
		border: 3px solid #232323;
		border-radius: 5px;
		@include adaptiveValue ("height", 230, 100, 0);
		@include adaptiveValue ("margin-bottom", 58, 10, 0);
		height: 226px;
		textarea {
			height: 100%;
			width: 100%;
			resize: none;
			background-color: #e9e7e7;
			padding: 20px 29px;
			@include adaptiveValue ("font-size", 21, 14, 0);
			@include adaptiveValue ("line-height", 20, 14, 0);
			max-height: 220px;
			&::placeholder {
				font-family: 'Lato';
				font-weight: 400;
				color: #232323;
			}
		}
	}
	&__button {
		width: 100%;
		@include adaptiveValue ("padding-top", 23, 10, 0);
		@include adaptiveValue ("padding-bottom", 24, 10, 0);
		@include adaptiveValue ("font-size", 25, 14, 0);
		font-weight: 400;
	}
}
.input-block__firstname, .input-block__lastname, .input-block__email {
	border: 3px solid #232323;
	border-radius: 5px;
	@include adaptiveValue ("margin-bottom", 25, 10, 0);
}
.input-block {
	input {
		width: 100%;
		height: 100%;
		background-color: #e9e7e7;
		padding: 15px 31px;
		@include adaptiveValue ("font-size", 21, 14, 0);
		@include adaptiveValue ("line-height", 16, 14, 0);
		&::placeholder {
			font-weight: 400;
			color: #232323;
		}
	}
}
.input-block__button:hover {
	box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}
//==================================================================
//Адаптив
@media (max-width: 900px) {
	.mainscreen {
		background: url('../img/bg1.png') 0 0/auto 100%  no-repeat;
	}
	.choose-block {
		background: url('../img/picture3.png') center/100% auto no-repeat;
		&__image {	
			display: none;
		}
		&__content {
			@include adaptiveValue ("width", 450, 340, 0);
		}
		&__title {
			@include adaptiveValue ("font-size", 55, 22, 0);
			color: #232323;
			@include adaptiveValue ("margin-bottom", 105, -20, 0);
		}
		&__subtitle {
			color: #232323;
			@include adaptiveValue ("font-size", 25, 16, 0);
		}
		&__text {
			color: #232323;
		}
		&__second {
			padding-bottom: 100px;
		}
	}
	.description-block {
		&__image {
			float: right;
		}
		&__spoiler {
			overflow: hidden;
		}
	}
}
@media (max-width: 800px) {
	.input-block {
		margin-right: 0px;
	}
	.description-block {
		flex-direction: column;
		&__image {
			max-width: 100%;
			margin: 30px auto 15px auto;
		}
	}
	.update-block {
		flex-direction: column;
		&__image {
			max-width: 100%;
			margin: 15px auto;
		}
	}
}
@media (max-width: 650px) {
	.page {
		margin-top: 80px;
	}
	.travelog {
		background: #232323;
	}
	.choose-block {
		background: none;
		&__image {	
			display: flex;
			@include adaptiveValue ("width", 757, 107, 0);
			@include adaptiveValue ("height", 562, 62, 0);
		}
		&__content {
			@include adaptiveValue ("width", 450, 200, 0);
		}
		&__title {
			color: #e9e7e7;
			@include adaptiveValue ("margin-bottom", 105, 0, 0);
		}
		&__subtitle {
			color: #e9e7e7;
		}
		&__text {
			color: #e9e7e7;
		}
		&__second {
			padding-bottom: 0;
		}
	}
}
@media (max-width: 550px) {
	.options-block {
			flex-direction: column;
			&__card {
				margin: 0 0 15px 15px;
			}
	}
}
@media (max-width: 500px) {
	.mainscreen {
		&__container {
			display:flex;
			flex-direction: column;
			justify-content: center;
		}
		&__image {
			margin-top: 20px;
			max-width: 100%;
		}
	}
	.choose-block {
		background: none;
		&__image {	
			display: flex;
			position: relative;
			@include adaptiveValue ("width", 757, 257, 0);
			@include adaptiveValue ("height", 562, 162, 0);
		}
		&__container {
			flex-direction: column;
		}
		&__content {
			width: 100%;
			margin-bottom: 15px;
		}
		&__title {
			color: #e9e7e7;
			@include adaptiveValue ("margin-bottom", 105, 20, 0);
		}
		&__subtitle {
			color: #e9e7e7;
		}
		&__text {
			color: #e9e7e7;
		}
	}
}









